[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
praw = "*"
requests = "*"
pyyaml = "*"
wand = "*"
validators = "*"
fire = "*"
idna = "==2.10"

[dev-packages]

[requires]
python_version = "3"
